@import '../../scss/index.scss';

.resource-table{

    margin-top: 20px;

    .ant-table-thead{
        .ant-table-cell{
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        }
        
    }

    .ant-table-tbody{
        .ant-table-cell{
            text-align: center;
    }
}
}