//Font
$defaultFontSize:16px;
$font-light:#FFF;
$font-dark:#000;

$primary-color: #00FFFF;
$primary-color-hover: #00CCCC;
$gray-color-light:#9B9B9B;
$gray-color-dark:#7D7F7D;
$primary-color-lile:#b4cfed;
$primary-color-blue:#1890ff;
$primary-color-lile-hover:#6c4675;
$primary-color-blue-hover:#0074df;
$menu-color:#000;
$header-color:#000;
$footer-color:#FFF;
$content-color:#2c2c2e;

$background-color-light:#FFF;
$background-color-dark:#000;
$background-color-success:#BDECB6;
$background-color-error:#FDBCB4;


$success:#6a953b;
$error:#F00;
$warning:orange;


//responsive down size
$media-breakpoint-down-xs:413.98px;
$media-breakpoint-down-sm:573.98px;
$media-breakpoint-down-md:767.98px;
$media-breakpoint-down-lg:991.98px;
$media-breakpoint-down-xl:1199.98px;

//responsive up size

$media-breakpoint-down-up-xs:320px;
$media-breakpoint-down-up-sm:576px;
$media-breakpoint-down-up-md:768px;
$media-breakpoint-down-up-lg:992px;
$media-breakpoint-down-up-xl:1200px;
